.link-container {
  width: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
    align-items:center;
    text-align: center;
  justify-content: space-around;
}

.contact-link, .text-box {
  text-decoration: none;
  width: 400px;
  border: 1px solid transparent;
  padding: 20px;
  background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b);
  border-radius: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.contact-link:hover, .text-box:hover {
  transform: scale(1.2);
}

.contact-link .phone-box, .text-box .phone-box {
  width: 100%; /* Заполняет родительскую ссылку */
  margin: 0;
}

.contact-link .phone-box, .text-box {
  font-size: 20px;
  color: azure;
  font-family: Merriweather;
}


  /*Section des texte*/

  .section-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки с равной шириной */
    gap: 20px;
    text-align: center;
    margin: 150px auto;
}

.haut-box {
    display: flex;
    justify-content: center;
}

.box-1 {
    width: 100%; /* Полная ширина внутри haut-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px; /* Минимальная высота, измените в соответствии с вашими нуждами */
}

.image-temps {
    margin-top: 10px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-bottom: 30px;
}

.texte-temps {
    flex-grow: 1;
    background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b);
    border: 1px solid transparent;
    border-radius: 30%;
    color: azure;
    padding: 40px;
    font-family: Merriweather;
    font-size: 18px;
    overflow: auto; /* Добавление прокрутки, если текст не помещается */
}

 
 .text-vtc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Merriweather', serif;
    background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Делает текст прозрачным, показывая фон */
  }
  
  /* Дополнительно, чтобы убедиться, что это работает во всех браузерах */
  .text-vtc::selection {
    background: rgba(255, 255, 255, 0.5);
  }
  
  /*SlideShow*/
.body-centre {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;
}
  .imageContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .singleSlideContainer {
    flex: 1 1 30%; 
    margin: 5px;
    height: 300px; 
  }
  
  /* Стили для большого слайда, занимающего всю ширину */
  .singleSlideContainer.full-width {
    flex-basis: 100%; 
    max-width: 100%; 
    height: 500px; 
  }
 

  /* Section-text2 */

  .section-texte-2 {
width: 100%;
margin: 100px auto;

  }
  .box-2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 40px;


  }
  .image-tarifs {
    width: 100px;
    border: 1px solid transparent;
    border-radius: 50px 50px;
    margin-bottom: 30px;
  } 
  .titre-tarif {
    font-size: 25px;
    font-family: 'Merriweather', serif;
    background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Делает текст прозрачным, показывая фон */
  }
  
  /* Дополнительно, чтобы убедиться, что это работает во всех браузерах */
  .titre-tarif::selection {
    background: rgba(255, 255, 255, 0.5);
  }
  .text-tarif {
    background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b);
    border: 1px solid transparent;
    border-radius: 30%;
    color: azure;
    padding: 50px;
    font-family: Merriweather;
    font-size: 20px;
  }


/*Chema Logo*/

.chema-box {
  display: flex; 
  justify-content: center; 
  align-items: center;
  position: relative;
  margin: 150px 0;
  width: 100%; 
  height: 100px; 
}

.chema-box::before,
.chema-box::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
}

.chema-box::before {
  left: 0;
  background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b);
}

.chema-box::after {
  right: 0;
  background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b);
}

.chema-logo {
  width: 60%; 
  height: 100px; 
  border-radius: 50%;
  z-index: 1;
}
.box-form {
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 50px;

margin-bottom: 50px;
}
.contact-form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.google-review-button {
  border: 1px solid;
  border-radius: 50px;
  background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b); 
  padding: 10px;
  text-decoration: none;
  font-family: Merriweather;
  font-size: 20px;
 color: azure;
}
.carte-maps {
  width: 50%;
  margin-top: 100px;
  
}

@media screen and (max-width: 1024px){
  .link-container  {
   margin-top: 100px;
   margin-bottom: 100px;
   display: flex;
   flex-direction: column;
   gap: 15px;
  }
  .contact-link .phone-box, .text-box {
    
  font-size: 18px;
}
.contact-link, .text-box {
 width: 600px;
  padding: 10px;
}
  .section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
  }
  .chema-box::before  {
    display: none;
  }
  .chema-box::after {
    display: none;
  }
  .link-container .phone-box .contact-link {
    font-size: 18px;
  }
  .text-box {
    font-size: 18px;
  }
  .text-vtc{
    font-size: 30px;
    margin: 20px;
  }
  .image-temps {
    width: 60px;
  }
  .chema-logo {
height: 100px;
  }
  .chema-box {
    margin-top: 80px;
  }
.box-form {
  display: flex;
  flex-direction: column;
}
.image-tarifs {
  width: 60px;
}
.box-2{
  padding: 20px;
}
.carte-maps{
  margin-top: 50px;
  width: 90%;
}
}


@media screen and (max-width: 768px) {
  .link-container {
    margin: 100px auto 0; /* Центрирует контейнер по горизонтали */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* Центрирует содержимое по горизонтали */
  }
   .contact-link .phone-box, .text-box {
   font-size: 16px;
 }
 .contact-link, .text-box {
   width: 400px;
   padding: 10px;
 }

 @media screen and (max-width: 425px) {
  .contact-link, .text-box {
    width: 200px;
  }
 }


.texte-temps {
  font-size: 16px;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание по центру */
  justify-content: center;
  padding-top: 0;
}
.text-tarif {
  font-size: 16px;
}
.google-review-button {
  font-size: 18px;
}
.singleSlideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 300px; /* Или другая желаемая высота */
}
.singleSlideContainer.full-width .full-height{
  flex-basis: 100%; /* Занимает весь доступный простор */
  max-width: 100%; /* Ограничивает максимальную ширину */
  height: 200px;
}
.text-vtc {
  font-size: 25px;
}
.chema-box {
  margin: 80px 0;
}
.chema-logo {
  width: 80%;
}
.contact-form {
  width: 80%;
}
}

@media screen and (max-width: 425px) {
  .singleSlideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px; /* Или другая желаемая высота */
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
  .singleSlideContainer.full-width {
    flex-basis: 100%; /* Занимает весь доступный простор */
    max-width: 100%; /* Ограничивает максимальную ширину */
  }
  .singleSlideContainer.full-height {
    height: 200px;
  }
  .text-vtc {
    margin: 5px 0;
    font-size: 20px;
  }
  .chema-logo {
    width: 95%;
    height: 80px;
  }
  .box-2 {
    padding: 0;
  }
  .titre-tarif {
    font-size: 20px;
  }
}