#reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 100px;
    padding: 20px;
    background: linear-gradient(to right, rgba(96, 108, 118), #ff9a8b);
}

.review {
    width: 45%; /* Установка ширины комментария */
    padding: 10px;
    margin: 10px; /* Добавление отступов для разделения */
    color: azure;
    box-sizing: border-box; /* Учитывать padding и border в ширине */
    animation: slideIn 0.5s forwards;
}


.slide-in {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.review .stars {
    color: gold; /* цвет звёзд */
}

.review .comment {
    font-size: 16px;
}

.review .author {
    font-weight: bold;
}

.review .date {
    font-style: italic;
}




@media screen and (max-width: 768px) {
    #reviews-container {
        margin: 50px 20px;
    }
    .review .comment {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px){
    .review {
        width: 100%;
    }
}

