.logo-container {
  width: 100%;
}
.logo {
max-width: 100%;
width: 100%;
margin: 0 auto;
  height: auto;
  border-radius: 100% 0% 100% 0% / 0% 80% 20% 100% ;
}
.contact-icons {
 display: flex;
  padding: 20px;
  float: right;
}
.contact-icons2 {
  display: none;
}

.flag-icon {
  
  cursor: pointer;
  margin: 0 20px;
}
  

.burger-menu {
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 50px;
  right: 50px;
}
.menu-dropdown {
  
  right: 5px; /* или другое значение */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  opacity: 0; /* Сначала скрываем меню */
  transform: translateY(-10px); /* Смещаем меню вверх */
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: fadeIn 0.3s forwards; /* Используем анимацию fadeIn */
}


/* Ключевые кадры для анимации появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-dropdown.show {
  opacity: 1;
  transform: translateY(0); /* Возвращаем меню на место */
 
}

  .menu-dropdown a {
    font-size: 23px;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.5s;
  white-space: nowrap;
  }
  
 
 
  
  
  @media screen and (max-width: 1024px) {
  
  .contact-icons2 {
    display: none;
  }
   
   }

   @media screen and (max-width: 768px) {
    
    .contact-icons  {
      
      display: none;
    }
    .contact-icons2 {
      display: contents;
      display: flex;
  padding: 20px;
  float: right;
      right: 0;
    }
    .menu-dropdown{
      right: 0;
      padding: 0px;
    }
    .menu-dropdown a  {
      font-size: 18px;
    }
    .burger-menu {
      font-size: 20px;
      right: 20px;
      top: 20px;
    }
    .contact-icons {
      float: right;
    }
   }