.terms-privacy-container {
    padding: 20px;
    margin: auto;
    max-width: 800px;
  }
  
  .terms-privacy-container h1, h2 {
    color: #333;
  }
  
  .terms-privacy-container p {
    text-align: justify;
    line-height: 1.6;
  }
  

  @media screen and (max-width: 1024px){
  
  }
  
  
  @media screen and (max-width: 768px) {
  
  }
  